version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: bookmarkify
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: bookmarkify_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
